<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOSHUA KANATT</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/testimonial.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>
<body>
    <div class="wrapper">
        <section class="testimonial_creation">
            <h2>TESTIMONIALS</h2>
            <form action="/testimonial_creation" method="POST" class="form">
                <div class="info">
                    <div class="row">
                        <div class="col">
                            <p>Name*</p>
                        <input type="text"  name="fname" required>
                        </div>
                        <div class="col">
                            <p>Email</p>
                        <input type="text" name="email">
                        </div>
                        <div class="col">
                            <p>Mobile number</p>
                            <input type="text" name="mobile_number">
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Linkedin link</p>
                            <input type="text"  name="linkedin" >
                        </div>
                        <div class="col">
                            <p>Twitter </p>
                        <input type="text" name="twitter">
                        </div>
                        <div class="col">
                            <p>Facebook</p>
                        <input type="text" name="facebook">
                        </div>
                        
                    </div>
                    
                </div>
                <div class="msg">
                    <p>Message</p>
                    <div>
                        <textarea rows="5" name="message"></textarea>
                    </div>
                </div>
                <div class="btns">
                    <button type="submit">Post comment</button>
                </div>
                
            </form>
        </section>
    </div>
</body>
</html>